<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Weather Information</h1>
    <form method="POST">
        <label for="city">City:</label>
        <input type="text" name="city" id="city" required><br><br>
        
        <button type="submit">Get Weather</button>
    </form>

    {% if temperature_info %}
        <p>{{ temperature_info }}</p>
    {% endif %}
</body>
</html>
